* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.header, .main, .footer {
    border: 1px solid red;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 25px;
    line-height: 50px;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: .3s;
}
.nav-link:hover {
    color: #b6b3fa;
    text-decoration: underline;
}